* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cousine', monospace;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

.header {
  margin-bottom: 5rem;
}

.nav {
  /* min-width: 100vw; */
  width: 100%;
  height: 3rem;
  background-color: skyblue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}


.tile {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 2em;
  margin: .5em;
  border-radius: 5px;
  -webkit-box-shadow: 4px 7px 5px -1px rgba(0,0,0,0.29);
  -moz-box-shadow: 4px 7px 5px -1px rgba(0,0,0,0.29);
  box-shadow: 4px 7px 5px -1px rgba(0,0,0,0.29);
  max-width: 350px;
}

li {
  list-style: none;
}

h4 {
  margin-bottom: .4rem;
}

button {
  margin: 1em;
}